html, body, h1, p, footer{

    font-family: 'Roboto', sans-serif;
}

body{
    background:#d2d2c1 url('/img/fundo.png');

}

h1{

    color:  #0b3eaa;
    text-align: center;
    letter-spacing: -2px;
    
}

p{

    text-indent: 25px;
}

li{

    display: inline;
}

ul{

    background-color: darkgray;
    height: 50px;
    padding-top: 20px;
    color: white;
    text-transform: uppercase;
}

a {

    text-decoration: none;
}

a:hover{

    color:white ;
}

footer{

    background-color: gray;
    
    
}

.rodape{

    color:#54c508;
    font-size: 20px;
    
    
}
.conteudo{

    background-color:#635858b9;
    width: 1100px;
    

}



.assinatura{

    font-style: italic;
}

.menu{

    text-align: right;
    background: #c5c5b2;
    padding: 18px;
    
}

.menu a {

    padding-right: 20px;
}

